In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

Q2 : What is the average height of the players?

In [ ]:

# Reading the file csv
df_1 = pd.read_csv(f"tennis_data/away_team.csv")
df_2 = pd.read_csv(f"tennis_data/home_team.csv")

# Concatenate two csv files
merge_data = pd.concat([df_1,df_2], ignore_index=True)

# Filtering the available data based on needs and removing duplicate data and nan data in the height column
final_data = merge_data[["match_id", "name", "height"]].drop_duplicates(subset='name').dropna(subset=['height'])

# Calculate the mean height of the players
mean_height = final_data['height'].mean()
'The mean height of the players is '+ str(mean_height) + ' ' + 'm'

Q8 :Is there a difference in the number of double faults based on gender?

In [ ]:
# Reading the file csv
df_away_team = pd.read_csv(f"tennis_data/away_team.csv")
df_home_team = pd.read_csv(f"tennis_data/home_team.csv")
df_period = pd.read_csv('tennis_data/period.csv')

# Concatenate two csv files and filtering on them
players = pd.concat(
    [df_away_team[['match_id','gender']],
     df_home_team[['match_id','gender']]])

# Filtering and finding double faults
df_double_faults =df_period[df_period['statistic_name'] == 'double_faults']

# Merging player and double_faults files and filtering on all sets
final_df = players.merge(df_double_faults[['match_id', 'home_value','away_value','period']], on='match_id')
final_df = final_df[final_df['period'] == 'ALL']

# Removing duplicate games and add 'home_value' and 'away_value' columns together and store in a new column 'sum_double_faults'
final_df.drop_duplicates(subset='match_id',inplace=True)
final_df['sum_double_fault'] = final_df['home_value'] + final_df['away_value']

# Group the data by 'gender' and generate descriptive statistics for 'sum_double_fault'
result = final_df.groupby('gender')['sum_double_fault'].describe()
result

Q10 : Is there a correlation between a player's height and their ranking?

In [ ]:
# Reading the file csv
df_away_team = pd.read_csv(f"tennis_data/away_team.csv")
df_home_team = pd.read_csv(f"tennis_data/home_team.csv")

# Concatenate two csv files and filtering on them
players = pd.concat(
    [df_away_team[['match_id','player_id','height','current_rank','gender']],
     df_home_team[['match_id','player_id','height','current_rank','gender']]])


player_rank = players.groupby('player_id').agg({
    'height' : 'first',
    'current_rank' : 'mean',
    'gender' : 'first'
}
).reset_index()
player_rank.dropna(subset=['height', 'current_rank','gender'],inplace=True)

player_rank

Q12 : What is the average number of games per set in men's matches compared to women's matches?

In [40]:
df_period = pd.read_csv('tennis_data/period.csv')
df_game= df_period[['match_id', 'period', 'statistic_name', 'home_value', 'away_value']]
df_game = df_game[df_period['statistic_name'].str.contains('game', case=False, na=False)]
df_game = df_game[df_period['period'] == 'ALL']
df_game['total_game'] = df_game['home_value'] + df_game['away_value']



df_home = pd.read_csv('tennis_data/home_team.csv')[['match_id', 'gender']]
df_away = pd.read_csv('tennis_data/away_team.csv')[['match_id', 'gender']]

df_gender = pd.merge(df_game, df_away , on='match_id', suffixes=('_home', '_away'))
df_gender

C:\Users\reza\AppData\Local\Temp\ipykernel_2852\1824987501.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_game = df_game[df_period['period'] == 'ALL']

,match_id,period,statistic_name,home_value,away_value,total_game,gender
0,11998445,ALL,service_games_played,16,16,32,M
1,11998445,ALL,service_games_played,16,16,32,M
2,11998445,ALL,service_games_won,12,11,23,M
3,11998445,ALL,service_games_won,12,11,23,M
4,11998445,ALL,max_games_in_a_row,5,3,8,M
...,...,...,...,...,...,...,...
170081,12213458,ALL,return_games_played,9,9,18,M
170082,12213459,ALL,service_games_played,8,8,16,M
170083,12213459,ALL,service_games_won,7,3,10,M
170084,12213459,ALL,max_games_in_a_row,5,2,7,M
170085,12213459,ALL,return_games_played,8,8,16,M